@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Merriweather:ital,wght@0,400;0,700;0,900;1,700&display=swap');


body{
    max-width: 1850px;
    margin: 0 auto ;
}
/* bannar */
.bannar{
    background-image: url('../images/Banner\ Image.png');
    background-color:rgba(0, 0, 0, 0.494) ;
    background-blend-mode:multiply ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    border-radius: 15px;
    margin: 50px;
    
}

.bannar-content{
    text-align: center;
    color:#FFF ;
    display: block;
    font-family: 'Merriweather', serif;
    padding: 180px  130px 80px 560px
    
    
}

.happy{  
    font-size: 32px;
}

.year{
font-size: 72px;
width: 632px;
}


/* main section */

#hed{
    color: #F00;
font-family: Inter;
font-size: 88px;
}

#paragrp{
    color: #F00;
font-family: Inter;
font-size: 24px;
}

#all{
    color: #070211;
    font-family: Inter;
    font-size: 48px;
}

.discount{
    text-align: center;
    margin: 100px ;
}


/* wellcome section */

.wellcome{
background-image: url('../images/Vectorrr.png'); 
background-color:rgba(0, 0, 0, 0.497) ;
background-blend-mode: multiply;
background-repeat: no-repeat;
background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 600px;
    border-radius: 15px;
    margin: 50px; 
    padding-left: 90px;
    padding-right: 90px;
    justify-content:space-around
    
}

#party{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
width: 642px;
font-weight: 900;
line-height: 
letter-spacing: 7.06px;
}


.same{
    color: rgba(255, 255, 255, 0.80);
   bakg

    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width: 697px;
    line-height: 30px;
}

.button{
    border-radius: 8px;
    color: #FFF;
background: #F00;
padding: 16px 32px;
border-radius: 5px;
border: 0;
}

/* time section */

.time{
    text-align: center;
    height: 600px;
font-family: Inter;
font-size: 32px
font-weight: 482px ;


}

.time-content{
    background-image: linear-gradient(
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
    );
    text-align: center ;
font-family: Inter;
 font-size: 32px;
color:#070211;
font-weight: 600; 
padding: 130px 130px ;
margin:50px ; 
border-radius: 15px;
line-height: 56px
}

.uniqe{
    color: #F00;
}


/* comming soon section */

 .comming-soon{
    display: flex;
    align-items: center;
    margin: 70px 50px 90px 50px;
    justify-content: space-around;
    
} 

.first-cont{
    width: 393px;

}

.second-cont{
    width: 276px;
}

.new-red{
    color: #F00;
 font-family: Inter;
}

.comming-d{
    color: rgba(7, 2, 17, 0.60);

font-family: Inter;
}

#soon1{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
}


.comming-img{
justify-content:center ;
align-items: center;
flex-shrink: 0;
border-radius:360px;
border: 15px solid #F00;
width: 390px;
height: 390px;
flex-shrink: 0;
padding-top: 20px;
padding-left: 24px;

} 



/* holidy sale 50% section*/

.sale-content{
    text-align: center; 
    margin-top: 200px;
    padding-bottom: 70px;
}

#sale1{
    color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;

}

#sale2{
    color: #F00;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

#col{
color: black
}

#sale3{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px; 
width: 1068px;
padding-left:390px ;

}

.sal-img{
    margin-top: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
}

.red-off{
    background-size: cover;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-around;
}

/* aswam section */

.awasom-content{
    width: 55%;
    margin-left: 50px;
   
}


#as1{
    color: #F00;
font-family: Inter;
font-size: 24px ;
font-weight: 500;

}

#as2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

#as3{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    width: 896px;
    font-weight: 400;
    line-height: 32px;
}

.ims-asm{
margin: 10px;
    border-radius: 10px;
    
    
 
}

.ims-asm2{
    align-items: center;
    display: flex;
    justify-content: center;
 gap: 12px;
 width: 420;
 height: 450px
}


/* Subscribe Newsletter */


.newlater-content{
    margin: 50px ;
    background-color: #FF00000D;
    text-align: center;
font-family: Inter;
 font-size: 32px;
color:#070211;
font-weight: 600; 
padding: 130px 130px ;
border-radius: 15px;
line-height: 56px
}

.common-color{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    font-weight: 900;
}
.common-para{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 30px; 
width: 896px;
padding-left:300px ;

}


.act-button{
    display: flex;
}

    .input{
       color: #FF00000D;
        width: 648px;
        height: 50px;
        border-radius: 9px;
        border: 0;
       
}
.input{
    color: rgba(7, 2, 17, 0.30);
text-align: center;
font-family: Inter;
font-size: 18px;
font-weight: 400;
}

/* footer section */

.footer{
    background-color: #070211 ;
    height: 609px;
  margin-top: 100px;
  margin-left: 0;
}


.footer-top{
    display: flex;
    justify-content: space-between;
    padding-top:70px ;
}

.ftc{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    line-height: 40px;
   padding-left: 110px;
    /* padding-left: 70px; */
  
} 

.fti{
padding-right: 100px;
}


.footer-middil{
   align-items: center;
   justify-content: center;
   padding-left: 800px;
}

.her{
    width: 1320px;
height: px;
color: #FFFFFF26;
}


.fcontent{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 40px;
}

.nw{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px; 
} 


.lcont{
    display: flex;
    justify-content: space-between;
    padding: 100px;
    padding-top: 150px;
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}

