 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Merriweather:ital,wght@0,400;0,700;0,900;1,700&display=swap');


/* bannar */
.bannar{
    background-image: url('../images/Banner\ Image.png');
    background-color:rgba(0, 0, 0, 0.494) ;
    background-blend-mode:multiply ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    border-radius: 15px;
    margin: 50px;
    
}

.bannar-content{
    text-align: center;
    color:#FFF ;
    display: block;
    font-family: 'Merriweather', serif;
    padding: 100px  170px 110px 480px
    
    
    
}

.happy{  
    font-size: 32px;
}

.year{
font-size: 72px;
width: 632px;
}


/* main section */

#hed{
    color: #F00;
font-family: Inter;
font-size: 88px;
}

#paragrp{
    color: #F00;
font-family: Inter;
font-size: 24px;
}

#all{
    color: #070211;
    font-family: Inter;
    font-size: 48px;
}

.discount{
    text-align: center;
    margin: 100px ;
}